@charset "UTF-8";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
  width: max-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-height: 600px;
  overflow: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: LightGray
}
h1#title {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-top: 1em;
}
body {
    background-color: antiquewhite;
    margin: 0;
   
}
button.product-button {
    border: none;
    background-color: white;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0;
}
button#Tocart {
    width: 10%;
    margin-left: 45%;
    margin-top: 20px;
    height: 40px;
    font-size: larger;
}
button#back {
    width: 10%;
    margin-left: 45%;
    margin-top: 10px;
    height: 40px;
    font-size: larger;
}
div#cart {
    font: caption;
    font-size: xx-large;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: goldenrod;    
}
td.product-td-price {
    height: 30px;
    width: max-content;
    padding: 0;
}
input[type="submit"] {
    width: 100%;
}
a#logout {
    margin-right: 20px;
    margin-top: 3px;
}
a {
    color: blue;
}
